sudo: false
language: java
install: mvn install -DskipTests=true -Dmaven.javadoc.skip=true -Dgpg.skip=true -B -V

jdk:
  - oraclejdk8
  - oraclejdk9
  - oraclejdk11
  - openjdk7
  - openjdk8
  - openjdk9
  - openjdk10
  - openjdk11
